<script th:fragment="js" type="text/javascript">

  $(document).ready(function() {
    console.log('DOCUMENT READY!!');

      init();



  });

  function init() {
    console.log("init CALLED!!!");

    $("#sectionWrap > div.modifyAccountForm > form > input[type = 'button'].delete").on('click', function (){
        console.log("delete CLICK HANDLER!!!");

        let no = $(this).data('no');

        if(confirm("정말로 탈퇴하시겠습니까?")){
           ajax_deleteAccount(no);
        }

    });

    $("#updatePassword").on('click', function (){
        console.log("updatePassword CLICK HANDLER!!!");

        let no = $(this).data('no');

        location.href = "/user/member/updatePasswordForm?isStudent=true&no="+no;

    });


    // let form = document.modifyAccountForm;
    //
    // let loginedStudentDto = [[${session.loginedStudentDto}]];
    //
    // let phone = loginedStudentDto.phone;
    //
    // form.phone3.value = phone.substring(phone.length - 4, phone.length);
    // form.phone1.value = phone.substring(0,3);
    // form.phone2.value = phone.substring(3,phone.length - form.phone3.value.length);
    //
    // $("#phone1 option").val("010").prop("selected", true);
    // $("#phone1 option").val("011").prop("selected", true);
    // $("#phone1 option").val("016").prop("selected", true);
    // $("#phone1 option").val("017").prop("selected", true);
    // $("#phone1 option").val("019").prop("selected", true);


}


function modifyAccountConfirm() {
    console.log("modifyAccountConfirm CALLED!!!!");

    let form = document.modifyAccountForm;

    if(form.id.value == ''){
        alert("아이디를 입력해주세요!");
        form.id.focus();
    } else if(form.password.value == ''){
        alert("비밀번호를 입력해주세요!");
        form.password.focus();
    } else if(form.password_again.value == ''){
        alert("비밀번호 확인을 다시 입력해주세요!");
        form.password_again.focus();
    } else if(form.password.value != form.password_again.value){
        alert("비밀번호와 비밀번호 확인이 맞지 않습니다.");
        form.password.focus();
    } else if(form.name.value == ''){
        alert("이름을 입력해주세요!");
        form.name.focus();
    } else if(form.gender.value == ''){
        alert("성별을 선택해주세요!");
        form.gender.focus();
    } else if(form.phone1.value == ''){
        alert("핸드폰 번호를 입력해주세요!");
        form.phone1.focus();
    } else if(form.phone2.value == ''){
        alert("핸드폰 번호를 입력해주세요!");
        form.phone2.focus();
    } else if(form.phone3.value == ''){
        alert("핸드폰 번호를 입력해주세요!");
        form.phone3.focus();
    } else if(form.mail1.value == ''){
        alert("메일을 입력해주세요!");
        form.mail1.focus();
    } else if(form.mail2.value == ''){
        alert("도메인을 입력해주세요!");
        form.mail2.focus();
    } else if(form.school_name.value == ''){
        alert("학교 이름을 선택해주세요!");
        form.school_name.focus();
    } else if(form.grade.value == ''){
        alert("학년을 선택해주세요!");
        form.grade.focus();
    } else if(form.class_no.value == ''){
        alert("반을 입력해주세요!");
        form.class_no.focus();
    } else if(form.eigen_no.value == ''){
        alert("번호를 입력해주세요!");
        form.eigen_no.focus();
    } else if(form.address.value == ''){
        alert("주소를 입력해주세요!");
        form.address.focus();
    } else {
        form.phone.value = (form.phone1.value + form.phone2.value + form.phone3.value);
        form.mail.value =(form.mail1.value + '@'+ form.mail2.value);

        form.submit();
    }

}

// AJAX START

  function ajax_deleteAccount(no) {
      console.log("ajax_deleteAccount");

      msgDto = {
          'no': no,
      }

      $.ajax({
          url: '/user/student/deleteConfirm',
          type: 'GET',
          data: msgDto,
          contentType: 'application/json; charset=utf-8',
          dataType: 'json',
          success: function(data) {
              console.log('AJAX SUCCESS - ajax_deleteAccount()');

              let result = data.result;

              if(result > 0) {
                  alert("탈퇴를 성공적으로 했습니다.");
                  location.href = "/";
              } else {
                  alert("탈퇴를 실패했습니다.");
                  location.href = "redirect:/user/student/modifyAccountForm";
              }

          },
          error: function(data) {
              console.log('AJAX ERROR - ajax_deleteAccount()');

          }
      });


  }



</script>