<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="~{/include/title.html::title}"></title>

    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/headerFooter.css}">

    <script th:replace="~{/include/common_js.html::jquery_cdn}" type="text/javascript"></script>
    <script th:replace="~{/include/findPasswordFormJs.html::js}" type="text/javascript"></script>


</head>
<body>

<header th:replace="~{/include/headerNavFooter.html::header}">
</header>


<nav th:replace="~{/include/headerNavFooter.html::nav}">

</nav>

<section>
    <div id="sectionWrap">
        <div class="word">
            비밀번호 찾기
        </div>
        <div class="findPasswordForm">
            <form th:action="@{/user/member/findPasswordConfirm}" method="POST" name="findPasswordForm">
                <label><input type="radio" name="student" value="학생" checked="checked">학생</label>&nbsp;
                <label><input type="radio" name="parents" value="학부모">학부모</label><br>
                이름
                <input type="text" name="name" placeholder="이름을 입력하세요"><br>
                아이디
                <input type="text" name="id" placeholder="아이디를 입력하세요"><br>
                핸드폰 번호
                <select name="phone1">
                    <option value="">---선택해주세요---</option>
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="019">019</option>
                </select>&nbsp; - &nbsp;
                <input type="text" name="phone2" oninput="filterKey();"> &nbsp; - &nbsp;
                <input type="text" name="phone3" oninput="filterKey();">&nbsp;
                <span class="authInput">
                    <input type="button" value="인증번호 발송">
                </span>
                    <span id="timer"></span>
                <br>
                <input type="button" value="비밀번호 찾기">
                <input type="reset" value="reset">
            </form>
        </div>
    </div>
</section>

<footer th:replace="~{/include/headerNavFooter.html::footer}">

</footer>

</body>
</html>