<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneteam.dormease.board.IBoardMapper">

    <insert id="insertNewContent" parameterType="map">

        INSERT INTO
            free_board (
            school_no, student_no, category_no, title, content, reg_date, mod_date
        ) VALUES (
            #{studentDto.school_no}, #{studentDto.no}, 1, #{boardDto.title}, #{boardDto.content}, NOW(), NOW())

    </insert>

    <select id="selectAllFreeBoardContent" parameterType="Integer">

        SELECT
            f.*,
            s.name
        AS
            student_name
        FROM
            free_board f
        INNER JOIN
            student s
        ON
            f.student_no = s.no
        WHERE
            f.school_no = #{schoolNo}
        AND
            f.category_no = 1
        AND
            f.status = 1

    </select>

    <update id="updateContentHit" parameterType="Integer">

        UPDATE
            free_board
        SET
            hit = hit+1
        WHERE
            no = #{no}

    </update>

    <select id="selectDetailContent" parameterType="map">

        SELECT
            f.*,
            s.name
        AS
            student_name
        FROM
            free_board f
        INNER JOIN
            student s
        ON
            f.student_no = s.no
        WHERE
            f.no = #{no}
        AND
            f.category_no = 1

    </select>

    <update id="updateContent" parameterType="com.oneteam.dormease.board.BoardDto">

        UPDATE
            free_board
        SET
            title = #{title},
            content = #{content},
            mod_date = #{mod_date}
        WHERE
            no = #{no}

    </update>

    <update id="updateContentForDelete" parameterType="Integer">

        UPDATE
            free_board
        SET
            status = 0
        WHERE
            no = #{no}

    </update>

</mapper>