<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oneteam.dormease.board.IBoardMapper">

    <insert id="insertNewContent" parameterType="map">

        INSERT INTO
            free_board (
            school_no, student_no, category_no, title, content, reg_date, mod_date
        ) VALUES (
            #{studentDto.school_no}, #{studentDto.no}, #{boardDto.category_no}, #{boardDto.title}, #{boardDto.content}, NOW(), NOW())

    </insert>

</mapper>