<header th:fragment="header">
    <div id="headerWrap">
        <div class="headerContainer">
            <a th:href="@{/}">
                <img src="/imgs/no_background_logo_test.png">
            </a>
            <div class="schoolName" th:if="${session.loginedStudentDto != null}">
                <a th:text="${session.loginedStudentDto.school_name}"></a>
            </div>
            <div class="headerMenu">
                <input type="radio" id="home" name="headerMenu" value="홈"><label for="home">홈</label>
                <input type="radio" id="notice" name="headerMenu" value="게시판"><label for="notice">공지사항</label>
                <input type="radio" id="leavePass" name="headerMenu" value="외출"><label for="leavePass">외박신청</label>
                <input type="radio" id="shop" name="headerMenu" value="매점"><label for="shop">매점</label>
                <input type="radio" id="board" name="headerMenu" value="세탁"><label for="board">자유게시판</label>
                <input type="radio" id="myInfo" name="headerMenu" value="내 정보"><label for="myInfo">내 정보</label>
            </div>
            <div class="memberWrap" th:if="${session.loginedStudentDto == null && session.loginedParentsDto == null}">
                <a th:href="@{/user/member/loginForm}">로그인</a>
            </div>
            <div class="memberWrap" th:if="${session.loginedStudentDto != null || session.loginedParentsDto != null}">
                <a th:if="${session.loginedStudentDto != null}" th:href="@{/user/student/logoutConfirm}">로그아웃</a>
                <a th:if="${session.loginedParentsDto != null}" th:href="@{/user/parents/logoutConfirm}">로그아웃</a>
            </div>
        </div>
    </div>
</header>

<nav th:fragment="nav">
    <div id="navWrap"> &nbsp;&nbsp;
    </div>
</nav>

<footer th:fragment="footer">
    <div id="footerWrap">
        Copyright © OFFICE Corp. All Rights Reserved.
    </div>
</footer>