<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="~{/include/title.html::title}">

    </title>

    <script th:src="@{/js/student/createAcccountForm.js}" type="text/javascript"></script>

</head>
<body>

<header th:replace="~{/include/headerNavFooter.html::header}">
</header>


<nav th:replace="~{/include/headerNavFooter.html::nav}">

</nav>

<section>
    <div id = "sectionWrap">
        <div class="word">
            회 원 가 입
        </div>
        <div class = "create_account_form">
            <form th:action = "@{/user/student/createAccountConfirm}" method="post" name = "createAccountForm">
                <input type = "text" name = "id" placeholder="아이디"><br>
                <input type = "password" name = "password" placeholder="비밀번호"><br>
                <input type = "password" name = "password_again" placeholder="비밀번호 확인"><br>
                <select name = "phone1">
                    <option value="">---선택해주세요---</option>
                    <option value="010">010</option>
                    <option value="011">011</option>
                    <option value="016">016</option>
                    <option value="019">019</option>
                </select>&nbsp;- &nbsp;
                <input type= "text" name = "phone2" oninput="onInputCreateAccountForm();"> &nbsp;- &nbsp;
                <input type = "text" name = "phone3" oninput="onInputCreateAccountForm();"><br>
                <input type = "text" name = "mail1" placeholder="메일"> @
                <select name="mail2">
                    <option value="">---선택해주세요---</option>
                    <option value="gmail.com">gmail.com</option>
                    <option value="naver.com">naver.com</option>
                    <option value="daum.net">daum.net</option>
                </select><br>
                <select name = "schoolName">
                    <option value="">---선택해주세요----</option>
                    <option value="덕문여자고등학교">덕문여자고등학교</option>
                    <option value="창원남고등학교">창원남고등학교</option>
                </select>
                <select name = "grade">
                    <option value="">---선택해주세요----</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
                <select name = "class">
                    <option value="">---선택해주세요----</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <input type="text" name="eigenNo" oninput="onInputCreateAccountForm();">
                <input type = "button" value="register" onclick="createAccountForm();">
                <input type = "reset" value="reset">
            </form>

        </div>
    </div>
</section>

<footer th:replace="~{/include/headerNavFooter.html::footer}">

</footer>

</body>
</html>